:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/pexels-tima-miroshnichenko-6078297.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}