<form id="competitionForm" [formGroup]="competitionForm">
  <label for="competition-name">Naziv natjecanja:</label>
  <input
    type="text"
    id="competition-name"
    name="competition-name"
    formControlName="competitionName"
    required
  />

  <label for="competitors">Popis natjecatelja (odvojeno točkomzarez):</label>
  <textarea
    id="competitors"
    name="competitors"
    formControlName="competitors"
    required
  ></textarea>

  <label for="scoring-system">Sustav bodovanja (pobjeda/remi/poraz):</label>
  <input
    type="text"
    id="scoring-system"
    name="scoring-system"
    formControlName="scoringSystem"
    required
  />

  <button type="submit" [disabled]="competitionForm.invalid">
    Spremi natjecanje
  </button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
<script src="./mail.js"></script>
